* {
  margin: 0;
  padding: 0;
}
/* header */
#navbar {
  margin: 20px 0;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
#menu_container {
  display: flex;
  gap: 20px;
}
#title {
  text-align: center;
  margin-top: 100px;
}
#title p {
  margin: 20px 0;
}
#title button {
  background-color: #ff900e;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
#image {
  text-align: center;
  margin: 50px 0;
}
#image img {
  width: 63%;
}

/* our feature */
#our_features {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 50px 0;
}
#feature_image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 33%;
  gap: 20px;
}
#feature_image img {
  width: 100%;
}
#feature_title h1 {
  font-size: 30px;
}
#title1 {
  font-weight: lighter;
  color: gray;
}
#title3 {
  color: #ff900e;
}
#feature_title p {
  margin: 10px 0;
}
#feature_title button {
  background-color: #ff900e;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

/* love_enjoy */
#love_enjoy {
  display: flex;
  justify-content: center;
  gap: 51px;
  margin: 50px 0;
}
#love_enjoy_title h1 {
  border-left: 3px solid #ff900e;
  padding-left: 10px;
}
#love_enjoy_title p {
  margin: 10px 0;
}
.love_enjoy_card {
  padding: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 20px;
}
#love_enjoy_image {
  width: 30%;
}
#love_enjoy_image img {
  width: 100%;
}
#love_enjoy_image button {
  background-color: #ff900e;
  color: white;
  border: none;
  padding: 30px;
  border-radius: 5px;
  margin-top: -50px;
  margin-left: -30px;
}
